@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
.container {
  display: grid;
  grid-template-columns: 400px, 400px, 400px, auto;
  grid-template-rows: auto, auto, auto, auto, auto;
}
a {
  padding: 3em;
}
body {
  background-color: rgb(119, 147, 117);
}
.section {
  grid-column-start: 1;
  grid-row: 1;
  grid-column-end: 5;
  font-size: 1.33em;
  padding: 10px;
  font-family: Anton;
}
header {
  grid-column: 2;
  grid-row: 2;
}
.image {
  grid-column: 1;
  grid-row-start: 2;
  grid-row-end: 4;
}
footer {
  grid-column: 1;
  grid-row: 5;
  font-size: 1.5em;
  font-family: Anton;
}
.h1 {
  font-size: 2em;
  font-family: Anton;
}
.h2 {
  font-size: 1.5em;
  font-family: Anton;
}
#Contacts {
  font-size: 1.5em;
  font-family: Anton;
}
fieldset {
  grid-column: 4;
  grid-row: 4;
}
.blogtable {
  grid-column: 1;
  grid-row: 4;
}
.logintable {
  grid-column: 2;
  grid-row: 3;
}
legend {
  font-size: 1.5em;
  font-family: Anton;
}
.invalid {
  border-color: red;
  border-style: solid;
  background-color: rgb(109, 225, 225);
}
